@import url(./style.css);

main {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.brandStory {
    margin-top: 100px;
    width: 720px;
    height: 800px;
}

main div:nth-child(even) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main div p {
    width: 800px;
    height: 700px;
    background: #eee;
    padding-top: 300px;
}