main {
    width: 100%;
    outline: 1px solid green;
    display: flex;
    flex-direction: column;
}

main div:nth-child(even) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main div p {
    width: 800px;
    height: 700px;
    background: #eee;
    margin-top: 300px;
}

main div:first-child p {
    margin-top: 0;
}
