@import url(./style.css);

main {
    width: 1440px;
    margin: 0 auto;
}

.productImgBanner {
    width: 100%;
    height: 600px;
    background: #999;
}

.listTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.productList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 645px;
    /* height: 830px; */
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 495px;
    height: 495px;
    background: #eee;
}

.p-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-title {
    padding-bottom: 10px;
}

.type {
    padding-bottom: 20px;
}

.detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.ex {
    padding-top: 10px;
}

.pagination {
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}