* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* outline: 1px solid red; */
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid blue; */
}

header {
    width: 100%;
    height: 80px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    z-index: 1;
}

.toggleBtn,
.toggleBtn span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}

.toggleBtn {
    position: relative;
    width: 24px;
    height: 22px;
    /* outline: 1px solid red; */
}

.toggleBtn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}

.top {
    top: 0;
}

.mid {
    top: 9px;
}

.bottom {
    bottom: 0;
}

.toggleBtn.active .top {
    transform: translateY(9px) rotate(45deg);
}

.toggleBtn.active .mid {
   opacity: 0;
}

.toggleBtn.active .bottom {
   transform: translateY(-9px) rotate(-45deg); 
}

.toggleMenu {
    /* outline: 1px solid red; */
    background: #fff;
    width: 30%;
    height: calc(100vh - 80px);
    padding: 0 5%;
    position: absolute;
    top: 80px;
    z-index: 1;
    display: none;
}

.depth1 {
    margin-top: 20px;
    border-bottom: 1px solid #000;
}

.depth1 a {
    display: block;
    line-height: 50px;
    /* outline: 1px solid blue; */
}

.depth2 a:hover {
    border-bottom: 1px solid #d3d3d3;
}

.depth2 {
    display: none;
}

.header-r a {
    font-size: 24px;
    margin: 0 5px;
}

main {
    width: 100%;
    padding: 0 5%;
    padding-top: 80px;
}

footer {
    width: 100%;
    height: 200px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    color: #fff;
    
}

.footer-l {
    height: 45%;
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.legal {
    display: flex;
}

.legal p {
    padding: 0 5px;
}

.footer-r {
    font-size: 12px;
    /* outline: 1px solid green; */
}

.f-menu {
    width: 100%;
    display: flex;
}

#email form {
    border: 1px solid #fff;
    display: flex;
    margin-top: 10px;
}

.emailInput {
    background: #fff;
    outline: none;
    border: none;
    padding: 2px;
}

.submitBtn {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

#sns {
    margin: 0 20px;
}

.sns-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
    margin-top: 10px;
    font-size: 20px;
}

#countrySelect {
    width: 100px;
    padding: 3px 5px 5px 5px;
    background: #000;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.copy {
    text-align: right;
    margin-top: 20px;
}